@charset "UTF-8";
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

li {
  display: inline-block;
  vertical-align: top;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none;
  color: #444444;
  transition: color 0.6s ease;
}
@media only screen and (min-width: 31.25em) {
  a:hover {
    color: #c4c4c4;
  }
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-LightOblique.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Roman.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Oblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-BookOblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-MediumOblique.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/AvenirLTStd-HeavyOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol/Bariol_Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol/Bariol_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol/Bariol_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol/Bariol_Regular_Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol/Bariol_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchLightSSiLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchLightSSiLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchSSi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchSSiItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchMediumSSiMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchMediumSSiMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchSSiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/DeutchSSiBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelTLight-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT-Condensed.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT-CondensedBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'DTLNobel';
  src: url("../fonts/DTLNobel/DTLNobelT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
#bg {
  position: fixed;
  width: calc(100% - 180px);
  height: 100%;
  z-index: -2;
  transform: translate3D(180px, 0, 0);
  display: none;
}
@media only screen and (min-width: 31.25em) {
  #bg {
    display: block;
  }
}
#bg img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: auto;
  image-rendering: optimizeSpeed;
  transform: translate3D(0, 0, 1px);
}

.mobileShiftMenu {
  transform: translateX(-100%) !important;
}

.revealExposeBtn {
  opacity: 1 !important;
  pointer-events: auto !important;
}

#expose_menus {
  width: 100%;
  height: 33px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: inherit;
}
@media only screen and (min-width: 31.25em) {
  #expose_menus {
    display: none;
  }
}
#expose_menus svg #iconBorder {
  stroke: none;
}
#expose_menus svg path {
  fill: white;
}
#expose_menus div {
  width: 33px;
  float: left;
  height: 100%;
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.6s ease;
}
#expose_menus .expose_stacks {
  background-color: #39b878;
}
#expose_menus .expose_books {
  background-color: salmon;
}
#expose_menus .expose_feeds {
  background-color: cornflowerblue;
}
#expose_menus .expose_main {
  background-color: white;
  opacity: 1;
  pointer-events: auto;
}
#expose_menus .expose_main svg path {
  fill: gray;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: avenir;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #444444;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: -2;
}
@media only screen and (max-width: 31.25em) {
  body:after, html:after {
    content: 'Leave This Place Lest Your Immortal Soul Be Torn Assunder';
    position: absolute;
    display: block;
    z-index: -3;
    width: 70%;
    padding: 20px 10px;
    left: 15%;
    top: 20%;
    text-align: left;
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    color: ghostwhite;
    font-family: deutch;
    line-height: 1.6em;
    border-top: 4px double #39b878;
    border-bottom: 4px double #39b878;
  }
}
@media only screen and (min-width: 31.25em) {
  body, html {
    min-width: 750px;
  }
}

.bariol {
  font-family: bariol;
}

.deutch {
  font-family: deutch;
}

.dtlnobel {
  font-family: dtlnobel;
}

#wallpapers {
  width: 250px;
  height: 200px;
  text-align: center;
  font-weight: 200;
  background-color: white;
  border-radius: 5px;
  top: 150px;
  left: 45%;
  position: absolute;
  transform: translate3D(0, 0, 0);
  transition: 0.6s all ease;
  z-index: -1;
}
@media only screen and (max-width: 31.25em) {
  #wallpapers {
    left: 0;
    top: -20px;
    position: relative;
    z-index: 5;
    height: 60px;
    padding: 0 !important;
  }
  #wallpapers button {
    display: none;
  }
}
#wallpapers p:nth-child(3) {
  width: 100%;
  display: block;
  margin: 20px 0 10px;
  font-size: 1em;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 5px;
  font-weight: 700;
  text-transform: lowercase;
  font-variant: small-caps;
  float: none;
  border-right: none;
}
#wallpapers p {
  font-size: 0.8em;
  width: 25%;
  float: left;
  border-right: 1px solid silver;
  cursor: pointer;
  font-weight: 400;
}
@media only screen and (min-width: 31.25em) {
  #wallpapers p :hover {
    color: #0ba9d6;
  }
}
@media only screen and (max-width: 31.25em) {
  #wallpapers p {
    font-weight: 500;
    font-size: 0.6em;
  }
}
#wallpapers p:nth-child(4) {
  font-family: avenir;
  line-height: 1em;
}
#wallpapers p:nth-child(5) {
  font-family: bariol;
}
#wallpapers p:nth-child(6) {
  font-family: deutch;
}
#wallpapers p:nth-child(7) {
  border-right: none;
  font-family: dtlnobel;
  line-height: 1em;
  font-size: 0.7em;
}
#wallpapers button {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
#wallpapers button svg {
  width: 60px;
  height: 60px;
}
#wallpapers span {
  display: block;
  padding-bottom: 0px;
  border-bottom: 1px solid transparent;
  transition: all 0.6s ease;
}
@media only screen and (max-width: 31.25em) {
  #wallpapers span {
    display: none;
  }
}

#wallpapers.active {
  width: 70%;
  height: 70%;
  left: 20%;
  padding: 10px;
  overflow: auto;
}
#wallpapers.active p {
  display: none;
}
#wallpapers.active button {
  width: 33px;
  height: 33px;
  background-color: cornflowerblue;
}
#wallpapers.active button svg {
  width: 33px;
  height: 33px;
}
#wallpapers.active button svg path {
  fill: white;
}
#wallpapers.active span {
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}
#wallpapers.active #wallpaperControl {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#wallpapers.active #wallpaperControl div {
  flex: 1 25%;
  overflow: hidden;
  position: relative;
}
#wallpapers.active #wallpaperControl div:before {
  content: '';
  display: table;
  padding-top: 100%;
}
#wallpapers.active #wallpaperControl div button {
  position: absolute;
  top: -5px;
  right: 5px;
  background-color: salmon;
}
#wallpapers.active #wallpaperControl div button:hover {
  background-color: darkslategray;
}
@media only screen and (max-width: 31.25em) {
  #wallpapers.active #wallpaperControl div button:hover {
    background-color: transparent;
  }
}
#wallpapers.active #wallpaperControl div img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  min-height: 100%;
  min-width: 100%;
}

#section_feeds, #section_categories, #section_bookmarks {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 180px;
  transform: translate3d(0, 0, 0);
  overflow-y: scroll;
}
@media only screen and (max-width: 31.25em) {
  #section_feeds, #section_categories, #section_bookmarks {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
    margin-top: 33px;
    transition: transform 0.6s ease;
  }
}

div > header {
  height: 45px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  padding-top: 5px;
}
@media only screen and (max-width: 31.25em) {
  div > header #revealMenu {
    display: none;
  }
}
div > header .show {
  transform: translateY(-5px);
}
div > header ul {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  transition: 0.6s transform ease-in-out;
  transform: translateY(-370px);
}
div > header ul li {
  flex: 1 33%;
  position: relative;
}
div > header ul li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 35%;
  font-size: 0.9em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 800;
}
div > header ul li a.active {
  background-color: black;
  color: ghostwhite;
}
div > header ul li:before {
  content: '';
  padding-top: 100%;
  display: table;
}
div > header span {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  font-variant: small-caps;
  padding-top: 8px;
  margin-right: 5%;
}
@media only screen and (max-width: 31.25em) {
  div > header span {
    margin-right: 2%;
    font-size: 0.8em;
  }
}
div > header input {
  width: 25%;
  height: 25px;
  margin: 4px 0 0 0;
  vertical-align: top;
  font-size: 0.9em;
  padding-right: 33px;
}
div > header button {
  margin-right: 5%;
}
@media only screen and (max-width: 31.25em) {
  div > header button {
    margin-right: 2%;
  }
}
div > header button.search {
  margin-left: -33px;
}
@media only screen and (min-width: 31.25em) {
  div > header button.search:hover {
    background-color: transparent;
  }
}
div > header button.close {
  margin-right: 0;
}
@media only screen and (min-width: 31.25em) {
  div > header button.close:hover {
    background-color: salmon;
  }
}

#section_cat_content, #bookmark_content, #feed_content {
  margin-left: 430px;
  min-height: 100%;
}
@media only screen and (max-width: 31.25em) {
  #section_cat_content, #bookmark_content, #feed_content {
    margin: 0;
    position: relative;
    width: 100%;
  }
}

#contentFrame {
  border: none;
  width: 100%;
  min-height: calc(100% - 45px);
}
@media only screen and (max-width: 31.25em) {
  #contentFrame {
    min-height: calc(100% - 33px);
  }
}

.reveal #mainHeader {
  transform: translate3d(0, 0, 0) !important;
}

@media only screen and (min-width: 31.25em) {
  .stacksSidebar #mainHeader {
    transform: translate3d(-180px, 0, 0);
  }
}
.stacksSidebar #bg {
  transform: translate3D(0, 0, 0);
}
.stacksSidebar #section_feeds, .stacksSidebar #section_categories, .stacksSidebar #section_bookmarks {
  left: 0;
}
.stacksSidebar #section_cat_content, .stacksSidebar #bookmark_content, .stacksSidebar #feed_content {
  margin-left: 250px;
}
@media only screen and (max-width: 31.25em) {
  .stacksSidebar #section_cat_content, .stacksSidebar #bookmark_content, .stacksSidebar #feed_content {
    margin-left: 0;
    z-index: 1;
  }
}
.stacksSidebar #section_cat_content {
  display: block;
}
@media only screen and (min-width: 31.25em) {
  .stacksSidebar #section_cat_content {
    min-width: 725px;
  }
}
.stacksSidebar #section_cat_content header button {
  margin-right: 2%;
}
@media only screen and (max-width: 31.25em) {
  .stacksSidebar #section_cat_content header button {
    margin-right: 0;
  }
}
.stacksSidebar #section_cat_content header span {
  margin: -5px 2% 0 0;
  padding: 12px 2%;
  height: 45px;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}
@media only screen and (min-width: 31.25em) {
  .stacksSidebar #section_categories {
    width: 250px;
  }
}
@media only screen and (min-width: 31.25em) {
  .stacksSidebar #section_categories header {
    font-size: 0.8em;
  }
}
.stacksSidebar #section_categories header ul {
  width: 100% !important;
  padding: 0;
}
.stacksSidebar #section_categories header ul li a {
  font-weight: 400;
}
.stacksSidebar #section_categories header ul.show {
  transform: translateY(0);
}
.stacksSidebar #section_categories header span {
  margin-right: 0;
}
.stacksSidebar #section_categories header input {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  height: 35px;
  transform: translateY(-350px);
}
.stacksSidebar #section_categories header input.show {
  transform: translateY(40px);
}
.stacksSidebar #section_categories header input.showUl {
  transform: translateY(128px);
}
.stacksSidebar #section_categories header button.search {
  margin-left: 5%;
}
@media only screen and (min-width: 31.25em) {
  .stacksSidebar #section_categories header button.search:hover {
    background-color: cornflowerblue;
  }
}
@media only screen and (min-width: 31.25em) {
  .stacksSidebar #section_categories .stacked {
    flex: 0 100%;
  }
}

select {
  display: none;
}

button:disabled {
  opacity: 0.3;
}

button {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: transparent;
  border: none;
  color: silver;
  position: relative;
  transition: 0.6s all ease;
  transition-property: background, opacity;
}
button svg {
  transition: 0.6s all ease;
  width: 33px;
  height: 33px;
}
button svg #iconBorder {
  stroke: none;
}
@media only screen and (min-width: 31.25em) {
  button:hover {
    background: cornflowerblue;
    border: none;
    color: white;
  }
  button:hover svg rect, button:hover svg path, button:hover svg polygon {
    fill: white;
  }
  button:hover svg polyline {
    stroke: white;
  }
  button:hover svg #iconBorder {
    stroke: none;
  }
  button:hover svg #submit rect, button:hover svg #submit path, button:hover svg #submit polygon {
    fill: none;
    stroke: white;
  }
  button:hover svg #checkbox rect, button:hover svg #checkbox path, button:hover svg #checkbox polygon {
    fill: none;
  }
}

.activeButton {
  background-color: cornflowerblue;
  color: white;
  border: none;
}
.activeButton svg rect, .activeButton svg path, .activeButton svg polygon {
  fill: white;
  transition: 0.6s all ease;
}
.activeButton svg #iconBorder {
  stroke: none;
}
.activeButton svg polyline {
  stroke: white;
}
.activeButton svg #submit rect, .activeButton svg #submit path, .activeButton svg #submit polygon {
  fill: none;
  stroke: white;
}

.buttonSubmit {
  background-color: #39b878;
}
.buttonSubmit svg rect, .buttonSubmit svg path, .buttonSubmit svg polygon {
  stroke: white;
}

button[class^="delete_"].activeButton {
  background-color: salmon !important;
  color: white;
}

button[class^="edit_"].activeButton {
  background-color: darkslategray !important;
  color: white;
}

button[class^="delete_"], button[class^="edit_"] {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  font-size: 0.9em;
  line-height: 0.9em;
  font-weight: 600;
  border: 1px solid;
  border-color: salmon;
  color: salmon;
  text-transform: lowercase;
  font-variant: small-caps;
  top: 12px;
}
@media only screen and (min-width: 31.25em) {
  button[class^="delete_"]:hover, button[class^="edit_"]:hover {
    background-color: salmon !important;
    color: white;
  }
}

button[class^="edit_"] {
  right: 20px;
  border-color: darkslategray;
  color: darkslategray;
}
@media only screen and (min-width: 31.25em) {
  button[class^="edit_"]:hover {
    background-color: darkslategray !important;
    color: white;
  }
}

input {
  border: none;
  width: 90%;
  height: 35px;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: gainsboro;
  font-style: italic;
  transition: all 0.6s ease-in-out;
}
input:focus {
  outline: none;
  color: ghostwhite;
  background-color: darkslategray !important;
}

input[type^="file"] {
  padding-top: 8px;
  color: gainsboro;
  text-align: center;
  padding-left: 20%;
}

form {
  width: 100%;
  background-color: white;
  position: absolute;
  transition: all 0.6s ease-in-out;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 31.25em) {
  form {
    z-index: 6;
  }
}
form .selectList {
  width: 100%;
  height: 35px;
  display: block;
  border-bottom: 1px solid silver;
  font-style: italic;
  font-size: 1rem;
  font-weight: 600;
  color: cornflowerblue !important;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 5px 0;
  transition: 0.6s color ease;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 31.25em) {
  form .selectList:hover {
    color: #092049 !important;
  }
}
form button[type="submit"], form button[name^="cancel_"] {
  width: 45%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-style: normal;
}
form button[type="submit"] svg circle, form button[name^="cancel_"] svg circle {
  fill: #39b878;
}
form button[type="submit"] svg path, form button[name^="cancel_"] svg path {
  stroke: white;
  fill: none;
}
form button[type="submit"]:after, form button[name^="cancel_"]:after {
  position: absolute;
  bottom: -20px;
  width: 100%;
  left: 0;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 0.8rem;
  color: #666;
}
form button[name^="cancel_"] svg circle {
  fill: salmon;
}
form button[name^="cancel_"] svg path {
  stroke: none;
  fill: white;
}
form button[type="submit"]:after {
  content: 'submit';
}
form button[name^="cancel_"]:after {
  content: 'cancel';
}

form[name^='delete'] {
  display: none;
}

.headerForm {
  position: absolute;
  width: 180px;
  padding: 0px 0px 40px 0px;
  bottom: 26px;
  left: 0;
  transform: translate3d(-180px, 0, 0);
}
@media only screen and (max-width: 31.25em) {
  .headerForm {
    width: 100%;
    transform: translate3d(-100%, 0, 0);
  }
}
.headerForm p {
  margin: 0px 0 10px 0;
  font-size: 1.1rem;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 15px 0;
  font-weight: 700;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #444444;
  line-height: 0;
}

.displayForm {
  transform: translate3d(0, 0, 0) !important;
  display: block !important;
}

.selectConvert {
  position: fixed;
  width: 38%;
  bottom: 0;
  left: 180px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
@media only screen and (max-width: 31.25em) {
  .selectConvert {
    width: 100%;
    left: 0;
    max-height: 100%;
  }
}
.selectConvert li {
  flex: 1 25%;
  position: relative;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  transition: 0.2s all ease-in-out;
}
.selectConvert li:before {
  content: '';
  display: table;
  padding-top: 100%;
}
@media only screen and (min-width: 31.25em) {
  .selectConvert li:hover {
    background-color: black;
  }
  .selectConvert li:hover a, .selectConvert li:hover span {
    color: white;
  }
}
.selectConvert li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  padding-top: 40%;
}
@media only screen and (max-width: 31.25em) {
  .selectConvert li a {
    padding: 30% 5px;
  }
}
.selectConvert li[class^="bookMenu_"] a, .selectConvert li[class^="feedMenu_"] a {
  color: gray;
  padding-top: 60%;
  font-size: 0.9em;
}
.selectConvert .Identity {
  color: white;
}
.selectConvert .Identity a {
  color: white;
}

.selectConvert.largeList {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
@media only screen and (max-width: 31.25em) {
  .selectConvert.largeList {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.selectConvert.largeList li {
  flex: 1 10%;
}
@media only screen and (max-width: 31.25em) {
  .selectConvert.largeList li {
    flex: 1 33%;
  }
}
.selectConvert.largeList li a {
  padding-top: 20%;
  bottom: 20%;
}
.selectConvert.largeList li span {
  position: absolute;
  top: 80%;
  bottom: 0;
  right: 20%;
  left: 20%;
  border-top: 1px solid silver;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 0.9em;
}
.selectConvert.largeList .searchBar {
  width: 100%;
}
.selectConvert.largeList .searchBar input {
  width: 100%;
  height: 45px;
  background-color: white;
  margin: 0;
  border: 1px solid silver;
}
.selectConvert.largeList .searchBar button {
  position: absolute;
  top: 7px;
  right: 10px;
  background: url("../images/buttons/delete.svg") no-repeat center;
}
@media only screen and (max-width: 31.25em) {
  .selectConvert.largeList .searchBar button:hover {
    background: salmon url("../images/buttons/delete.svg") no-repeat center;
  }
}

#mainHeader {
  width: 180px;
  background-color: white;
  text-align: center;
  padding: 10px 0px 20px 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: transform 0.6s ease;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 33px;
    -webkit-overflow-scrolling: touch;
  }
}
#mainHeader div {
  display: block;
  width: 100%;
  margin: 15px 0;
  font-size: 1.3em;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader div {
    width: 100%;
    margin: 0;
    padding: 20px 0;
  }
}
#mainHeader #rss a:after {
  content: attr(data-feedCount);
  position: absolute;
  font-size: 0.6em;
  font-weight: 400;
  background-color: salmon;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 2px;
  padding: 2px;
  color: ghostwhite;
}
#mainHeader #tempFiles {
  width: 100%;
  bottom: 0;
  text-transform: lowercase;
  font-variant: small-caps;
  position: absolute;
  display: block;
  border-top: 1px solid silver;
  padding: 4px 2px 2px 2px;
  height: 30px;
  color: #666;
  background-color: white;
  transition: background 0.6s ease;
  font-size: 1em;
  font-weight: 700;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader #tempFiles {
    position: sticky;
    z-index: 5;
  }
}
@media only screen and (min-width: 31.25em) {
  #mainHeader #tempFiles:hover {
    background-color: #3cb878;
    color: white;
  }
}
#mainHeader #logo {
  display: inline-block;
  position: relative;
  width: 125px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader #logo {
    width: 30%;
  }
}
#mainHeader #logo:before {
  content: "";
  display: table;
  padding-top: 100%;
}
#mainHeader #logo svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#mainHeader #globalForms {
  margin: 0;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader #globalForms {
    padding: 0;
  }
}
#mainHeader #globalForms div.models {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
#mainHeader #globalForms div {
  width: 25%;
  display: inline-block;
  line-height: 0;
}
@media only screen and (max-width: 31.25em) {
  #mainHeader #stack, #mainHeader #bookmarks {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
  }
}

@keyframes loading_logo {
  0% {
    filter: hue-rotate(0deg) blur(0px);
  }

  50% {
    filter: hue-rotate(360deg) blur(5px);
  }

  100% {
    filter: hue-rotate(0deg) blur(0px);
  }
}
.logo_animation {
  animation: loading_logo 4s infinite;
}

.bookMenu_1, .feedMenu_5 {
  background: cornflowerblue url(../images/buttons/sites.svg) no-repeat 50% 25%;
}

.bookMenu_2 {
  background: hotpink url(../images/buttons/colour.svg) no-repeat 50% 25%;
}

.bookMenu_3 {
  background: darkslategray url(../images/buttons/css.svg) no-repeat 50% 25%;
}

.bookMenu_4 {
  background: coral url(../images/buttons/picture.svg) no-repeat 50% 25%;
}

.bookMenu_5, .feedMenu_3 {
  background: lightgoldenrodyellow url(../images/buttons/inspiration.svg) no-repeat 50% 25%;
}

.bookMenu_6, .feedMenu_1 {
  background: #39b878 url(../images/buttons/javascript.svg) no-repeat 50% 25%;
}

.bookMenu_7 {
  background: sienna url(../images/buttons/job.svg) no-repeat 50% 25%;
}

.bookMenu_8 {
  background: ghostwhite url(../images/buttons/learning.svg) no-repeat 50% 25%;
}

.bookMenu_9 {
  background: gainsboro url(../images/buttons/programming.svg) no-repeat 50% 25%;
}

.bookMenu_12, .feedMenu_2 {
  background: salmon url(../images/buttons/texture.svg) no-repeat 50% 25%;
}

.bookMenu_13, .feedMenu_4 {
  background: mintcream url(../images/buttons/type.svg) no-repeat 50% 25%;
}

.bookMenu_14, .feedMenu_6 {
  background: yellow url(../images/buttons/other.svg) no-repeat 50% 25%;
}

#section_bookmarks.noScroll {
  overflow-y: hidden;
}

#section_bookmarks {
  background-color: mintcream;
}
#section_bookmarks #bookmark_menu {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 31.25em) {
  #section_bookmarks #bookmark_menu {
    height: 100%;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] {
  flex: 1 50%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  background-size: 50%;
}
@media only screen and (max-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"] {
    flex: 1 33%;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"]:before {
  content: "";
  display: table;
  padding-top: 100%;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] a {
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 70%;
  color: gray;
  font-weight: 800;
  transition: 0.6s all ease;
}
@media only screen and (min-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"] a:hover {
    background-color: black;
    color: ghostwhite;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] {
  padding: 0 10px;
  display: none;
  position: absolute;
  top: 8%;
  bottom: 2%;
  left: 4%;
  right: 4%;
  background-color: white;
  line-height: 1.3em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] {
    top: 15%;
    bottom: 5%;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid silver;
  padding: 10px 0;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:before {
  content: '•';
  margin-right: 4px;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n + 1):before {
  color: cornflowerblue;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n + 2):before {
  color: hotpink;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n + 3):before {
  color: darkslategray;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n + 4):before {
  color: #39b878;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li:nth-child(5n):before {
  color: yellow;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] ul li div {
  width: 75%;
  display: inline-block;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a {
  position: relative;
  padding: 0;
  font-variant: normal;
  text-align: left;
  text-transform: none;
  font-size: 1em;
  font-weight: 400;
  color: #444444;
}
@media only screen and (min-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a:hover {
    background-color: transparent;
    color: black;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook {
  flex: 1 100%;
  order: -1;
  background-position: 5px 4px;
  background-size: 12%;
}
@media only screen and (max-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook {
    height: 90%;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook:before {
  padding-top: 215%;
}
@media only screen and (max-width: 31.25em) {
  #section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook:before {
    padding-top: 0;
  }
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook a {
  bottom: 93%;
  padding: 4%;
  font-size: 1.3em;
}
#section_bookmarks #bookmark_menu div[class^="bookMenu_"].activeBook div[id^="section_book_"] {
  display: block;
}

#bookmark_content {
  background-color: gainsboro;
}
#bookmark_content #content {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 31.25em) {
  #bookmark_content #book_cont_header {
    display: none;
  }
}
#bookmark_content #book_cont_header input {
  width: 40%;
}

.bookmark_remove {
  opacity: 0;
  transform: translateX(-105%);
  transition: 0.6s all ease;
}

.feedCat-1 {
  background-color: #39b878;
}

.feedCat-2 {
  background-color: salmon;
}

.feedCat-3 {
  background-color: lightgoldenrodyellow;
}

.feedCat-4 {
  background-color: mintcream;
}

.feedCat-5 {
  background-color: cornflowerblue;
}

.feedCat-6 {
  background-color: yellow;
}

#section_feeds {
  overflow-x: hidden;
}
#section_feeds #feed_control button {
  margin-right: 10%;
}
#section_feeds #feed_control button:last-child {
  margin-right: 0;
}
#section_feeds #feed_control .feedCat-1:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #39b878;
  top: -10px;
  left: 10px;
}
#section_feeds #feed_control .feedCat-1.active:after {
  border-bottom: 10px solid black;
}
#section_feeds #feed_control #markFeeds {
  background-color: white;
  padding: 15px 0;
}
#section_feeds #feed_control #markFeeds p {
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 100%;
}
#section_feeds #feed_control #markFeeds p:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid silver;
  top: 5px;
  right: 34%;
}
#section_feeds #feed_control #markFeeds p:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: 6px;
  right: 34%;
}
#section_feeds #feed_control #markFeeds li {
  flex: 1 100%;
  background-color: lightgoldenrodyellow;
  padding: 5px 0;
}
#section_feeds #feed_control #markFeeds li:before {
  padding-top: 0;
}
#section_feeds #feed_control #markFeeds li a {
  position: relative;
  padding-top: 0;
}
#section_feeds #feed_control #markFeeds li:nth-child(2) {
  background-color: mintcream;
}
#section_feeds #feed_control #markFeeds li:nth-child(3) {
  background-color: gainsboro;
}
#section_feeds #feed_list {
  width: 100%;
  hyphens: auto;
}
#section_feeds .feedArticle {
  padding: 10px 10px 20px 10px;
  transition: 0.6s opacity ease;
}
#section_feeds .feedArticle h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}
#section_feeds .feedArticle p {
  color: #444;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
  line-height: 1.3em;
}
#section_feeds .feedArticle .favicon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-bottom: -3px;
  margin-right: 5px;
}
#section_feeds .feedArticle .feedCat {
  text-transform: lowercase;
  font-variant: small-caps;
  color: mintcream;
  display: inline-block;
  width: 38%;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#section_feeds .feedArticle .feedDate {
  color: mintcream;
  font-size: 0.8em;
  display: inline-block;
  width: 60%;
  text-align: right;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#section_feeds .feedArticle:nth-child(8n + 1) {
  background-color: cornflowerblue;
}
#section_feeds .feedArticle:nth-child(8n + 2) {
  background-color: hotpink;
}
#section_feeds .feedArticle:nth-child(8n + 4) {
  background-color: #39b878;
}
#section_feeds .feedArticle:nth-child(8n + 5) {
  background-color: darkslategray;
}
#section_feeds .feedArticle:nth-child(8n + 5) p, #section_feeds .feedArticle:nth-child(8n + 5) h3 > a {
  color: mintcream;
}
#section_feeds .feedArticle:nth-child(8n + 6) {
  background-color: salmon;
}
#section_feeds .feedArticle:nth-child(8n + 7) {
  background-color: lightgoldenrodyellow;
}
#section_feeds .feedArticle:nth-child(8n + 7) span.feedCat, #section_feeds .feedArticle:nth-child(8n + 7) span.feedDate {
  color: #999;
}
#section_feeds .feedArticle:nth-child(8n + 3), #section_feeds div.feedArticle:nth-child(8n + 8) {
  background-color: ghostwhite;
}
#section_feeds .feedArticle:nth-child(8n + 3) span.feedCat, #section_feeds .feedArticle:nth-child(8n + 3) span.feedDate, #section_feeds div.feedArticle:nth-child(8n + 8) span.feedCat, #section_feeds div.feedArticle:nth-child(8n + 8) span.feedDate {
  color: #999;
}
#section_feeds .markedRead {
  opacity: 0.4;
}

#feed_content {
  background-color: white;
}
@media only screen and (max-width: 31.25em) {
  #feed_content #content_control {
    display: none;
  }
}
#feed_content input {
  width: 40% !important;
}
#feed_content #content {
  text-align: center;
  padding: 40px;
}
@media only screen and (max-width: 31.25em) {
  #feed_content #content {
    padding: 5px;
    -webkit-overflow-scrolling: touch;
  }
}
#feed_content #content img {
  max-width: 100%;
  margin-bottom: 20px;
}
#feed_content #content a {
  color: cornflowerblue;
}
@media only screen and (min-width: 31.25em) {
  #feed_content #content a:hover {
    color: #092049;
  }
}
#feed_content #content span {
  font-variant: small-caps;
  color: gray;
  margin: 20px 0;
  display: inline-block;
  border-bottom: 1px solid silver;
  padding-bottom: 5px;
}
#feed_content #content h2 {
  margin-bottom: 20px;
}
#feed_content #content h3 {
  margin-bottom: 20px;
}
#feed_content #content p {
  line-height: 1.4em;
  text-align: left;
  margin-bottom: 20px;
}
#feed_content #content p img {
  display: block;
  margin: 0 auto;
}
#feed_content #content ul {
  width: 80%;
  display: inline-block;
  margin: 20px 0;
}
#feed_content #content li {
  text-align: left;
  width: 100%;
}
#feed_content #content hr {
  display: none;
}
#feed_content #content pre {
  text-align: left;
}
#feed_content #edit_cont {
  color: #444444;
  text-align: left;
  position: relative;
  padding: 20px 0;
}
#feed_content #edit_cont h4 {
  border-bottom: 1px solid silver;
  position: relative;
}
#feed_content #edit_cont h4:before {
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: -4px;
  position: relative;
  background: url("../images/buttons/add.svg") no-repeat center;
  background-size: 120%;
}
#feed_content #edit_cont h4.editFeeds:before {
  background: url("../images/buttons/edit.svg") no-repeat center;
  background-size: 120%;
}
#feed_content #edit_cont #add_feed_form, #feed_content #edit_cont #edit_feed_form {
  border: 1px solid silver;
  width: 100%;
  position: relative;
  height: 42px;
  margin: 20px 0;
}
@media only screen and (max-width: 31.25em) {
  #feed_content #edit_cont #add_feed_form, #feed_content #edit_cont #edit_feed_form {
    z-index: 0;
  }
}
#feed_content #edit_cont #add_feed_form .selectList, #feed_content #edit_cont #edit_feed_form .selectList {
  width: 40%;
  float: left;
  height: 40px;
  margin: 0;
  border: none;
  padding-top: 8px;
}
#feed_content #edit_cont #add_feed_form input, #feed_content #edit_cont #edit_feed_form input {
  width: 40% !important;
  float: left;
  height: 40px;
  margin: 0;
}
#feed_content #edit_cont #add_feed_form button, #feed_content #edit_cont #edit_feed_form button {
  width: 20%;
  float: left;
  top: 3px;
  margin: 0 !important;
  margin-top: 3px;
}
#feed_content #edit_cont #add_feed_form button:after, #feed_content #edit_cont #edit_feed_form button:after {
  content: '';
}
#feed_content #edit_cont #edit_feed_form {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.6s ease;
}
#feed_content #edit_cont .focusForm {
  opacity: 1 !important;
  pointer-events: auto !important;
}
#feed_content #edit_cont span[class*="feedCat-"] {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 0 -3px 0;
  border: none;
  padding: 0;
}
#feed_content #edit_cont h3 {
  text-transform: lowercase;
  font-variant: small-caps;
  margin-right: 5px;
  font-size: 1.1em;
  display: inline;
  line-height: 2em;
}
#feed_content #edit_cont h3 a {
  color: #444444;
  padding-bottom: 10px;
}
@media only screen and (min-width: 31.25em) {
  #feed_content #edit_cont h3 a:hover {
    border-bottom: 1px solid silver;
  }
}
#feed_content #edit_cont ul {
  display: none;
  margin-top: 20px;
  width: 100%;
  border: 1px solid silver;
  text-align: center;
}
#feed_content #edit_cont ul li {
  position: relative;
  font-variant: normal;
  width: 100%;
  border-bottom: 1px solid silver;
}
#feed_content #edit_cont ul li span {
  font-variant: normal;
  color: #444444;
  border: none;
  padding: 0;
  max-width: 90%;
  hyphens: auto;
  padding: 0 10px;
}
#feed_content #edit_cont ul li button[class^="delete_"], #feed_content #edit_cont ul li button[class^="edit_"] {
  top: 20px;
  margin-right: 5px;
}
#feed_content #edit_cont ul li:nth-child(even) {
  background-color: ghostwhite;
}

.animated {
  animation: 1.5s ease-in-out infinite rssAniBtn alternate;
}
.animated svg rect, .animated svg path, .animated svg polygon {
  fill: white;
}

@keyframes rssAniBtn {
  0% {
    background-color: salmon;
  }

  100% {
    background-color: #39b878;
  }
}
.Art {
  background-color: #39b878;
}

.Animals {
  background-color: hotpink;
}

.Identity {
  background-color: darkslategray;
}

.Design {
  background-color: coral;
}

.Packaging {
  background-color: salmon;
}

.People {
  background-color: lightgoldenrodyellow;
}

.Places {
  background-color: ghostwhite;
}

.Sites {
  background-color: cornflowerblue;
}

.Things {
  background-color: gainsboro;
}

.Type {
  background-color: mintcream;
}

#section_categories {
  text-align: center;
  width: calc(100% - 180px);
}
@media only screen and (max-width: 31.25em) {
  #section_categories {
    width: 100%;
  }
}
#section_categories #stacks_control {
  z-index: 2;
}
#section_categories #stacks_control ul {
  width: 45%;
}
@media only screen and (max-width: 31.25em) {
  #section_categories #stacks_control ul {
    width: 90%;
  }
}
#section_categories #stacks_control ul li {
  flex: 1 20%;
}
#section_categories #stacks_control ul li a {
  padding-top: 40%;
}
#section_categories #stacks_control ul .Identity a {
  color: ghostwhite;
}
#section_categories #stacks_control ul .Design:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid coral;
  top: -10px;
  left: 35%;
}
#section_categories #stacks_control ul .Design.active:after {
  border-bottom: 10px solid black;
  z-index: 10;
}
#section_categories #stacksScrollContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#section_categories .stacked {
  flex: 0 25%;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  #section_categories .stacked {
    flex: 1 50%;
  }
}
#section_categories .stacked:before {
  content: '';
  display: table;
  padding-top: 100%;
}
#section_categories .stacked img {
  width: 100%;
  margin-top: -10%;
  min-height: 115%;
}
#section_categories .stacked a:first-child {
  display: block;
  top: 0%;
  left: 0%;
  right: 0%;
  position: absolute;
  bottom: 20%;
  overflow: hidden;
  z-index: 1;
}
#section_categories .stacked a:nth-child(2) {
  position: absolute;
  bottom: 0%;
  top: 80%;
  left: 3%;
  right: 20%;
  color: #444444;
}
@media only screen and (min-width: 31.25em) {
  #section_categories .stacked a:nth-child(2):hover h3 {
    border-bottom: 1px solid #444444;
  }
}
#section_categories .stacked a:nth-child(2) h3 {
  font-weight: 400;
  font-size: 1em;
  padding: 8% 0 3% 0%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: 0.6s border ease;
}
@media only screen and (max-width: 31.25em) {
  #section_categories .stacked a:nth-child(2) h3 {
    font-size: 0.9em;
    padding: 10px 0;
  }
}
#section_categories .stacked button[class^="delete_"], #section_categories .stacked button[class^="edit_"] {
  top: 86%;
  right: 2%;
  background-color: white;
}
#section_categories .stacked button[class^="edit_"] {
  right: 12%;
}
#section_categories .stacked form.edit_model {
  position: absolute;
  z-index: 10;
  top: -10px;
  height: 100%;
  background-color: white;
}
#section_categories .stacked form.edit_model input {
  width: 80%;
}
#section_categories .stacked.Identity a {
  color: white;
}

#section_cat_content {
  display: none;
  background-color: #444444;
}
#section_cat_content header {
  z-index: 20;
}
@media only screen and (max-width: 31.25em) {
  #section_cat_content header {
    top: 33px;
  }
  #section_cat_content header .add_file_models, #section_cat_content header .close, #section_cat_content header span {
    display: none;
  }
}
#section_cat_content header form {
  width: 25%;
  padding-bottom: 20px;
  left: 16%;
  transform: translateY(-200px);
}
#section_cat_content header form input {
  height: 40px;
  margin: 10px;
  padding-left: 28%;
  width: 90%;
}
#section_cat_content header form:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: -10px;
  left: 45%;
}
#section_cat_content header #move_photo_projects {
  left: 56%;
}
@media only screen and (max-width: 31.25em) {
  #section_cat_content header #move_photo_projects {
    width: 50%;
    left: 30%;
  }
}
#section_cat_content header form.show {
  transform: translateY(15px);
}

div[id*="model_"] {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0.4%;
}
div[id*="model_"] div[class^="model"] {
  flex: 0 20%;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 31.25em) {
  div[id*="model_"] div[class^="model"] {
    flex: 1 50%;
  }
}
div[id*="model_"] div[class^="model"]:before {
  content: '';
  display: table;
  padding-top: 100%;
}
div[id*="model_"] div[class^="model"] a {
  display: block;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  position: absolute;
  overflow: hidden;
  border-radius: 1px;
}
div[id*="model_"] div[class^="model"] a:after {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  background-color: transparent;
  transition: all 0.6s ease;
  transition-property: background, opacity;
}
div[id*="model_"] div[class^="model"] a img {
  width: 100%;
  height: 125%;
}

#model_videos.displayFlex {
  display: flex;
}

#model_videos {
  display: none;
}
#model_videos .modelVideos {
  flex: 0 33%;
}
@media only screen and (max-width: 31.25em) {
  #model_videos .modelVideos {
    flex: 0 50%;
  }
}
#model_videos .modelVideos img {
  max-width: 120%;
  min-height: 100%;
}
#model_videos .modelVideos:before {
  padding-top: 70%;
}
#model_videos .modelVideos .video_thumbs {
  background-color: ghostwhite;
}
@media only screen and (max-width: 31.25em) {
  #model_videos .modelVideos .video_thumbs:hover {
    background-color: cornflowerblue;
  }
}
#model_videos h4 {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 50px 0 80px 0;
  text-align: center;
  margin-top: 20%;
  font-weight: 200;
  background-color: ghostwhite;
  border-radius: 2px;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  #model_videos h4 {
    width: 60%;
  }
}
#model_videos h4:after {
  content: url("../images/buttons/other.svg");
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}

#media {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #444444;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  transition: transform 0.6s ease;
}
#media #mediaControlBar #mute:hover path {
  fill: none;
}
#media #mediaControlBar #mute.muted path {
  stroke: none;
}
#media #mediaControlBar .slideShowOn circle {
  fill: #39b878;
}
#media #mediaControlBar .slideShowOn path {
  fill: white;
}
#media #mediaControlBar .playActive circle {
  fill: #39b878;
}
@media only screen and (max-width: 31.25em) {
  #media #mediaControlBar .mediaClose {
    display: inline-block;
  }
}
#media #mediaControlBar input[type="range"] {
  border: none;
  height: 5px;
  border-bottom: 1px solid gray;
  vertical-align: 96%;
  width: 50%;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  transition: none;
  -webkit-appearance: none !important;
}
@media only screen and (max-width: 31.25em) {
  #media #mediaControlBar input[type="range"] {
    display: none;
  }
}
#media #mediaControlBar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: white;
  transform: rotate(45deg);
  border: 1px solid gray;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
#media #mediaControlBar input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
}
#media #mediaControlBar #volume-bar {
  width: 10%;
  margin-right: 4%;
}
#media #mediaControlBar div {
  display: inline-block;
  height: 40px;
  border-left: 1px solid silver;
  vertical-align: top;
  padding-left: 1%;
  min-width: 260px;
}
@media only screen and (max-width: 31.25em) {
  #media #mediaControlBar div {
    min-width: 0;
    padding-left: 0;
  }
}
#media #mediaControlBar #videoControls {
  display: none;
  min-width: 550px;
}
@media only screen and (max-width: 31.25em) {
  #media #mediaControlBar #videoControls {
    display: none !important;
  }
}
#media #mediaControlBar .shiftWindow {
  margin-left: 5px;
  transform: rotate(180deg);
  transition: transform 0.6s ease;
  float: left;
}
@media only screen and (max-width: 31.25em) {
  #media #mediaControlBar .shiftWindow {
    display: none;
  }
}
#media #mediaControlBar .shiftWindow.flip {
  transform: rotate(0deg);
}
#media .holder {
  height: calc(100% - 45px);
  width: 100%;
  display: block;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3D(0, 0, 0);
}
#media .holder img {
  min-height: 100%;
  max-height: 100%;
  display: none;
}
#media .holder img.fullWidth {
  height: auto;
  width: 100%;
  max-height: none;
  max-width: none;
  min-height: 0%;
}
#media .holder img.original {
  height: auto;
  width: auto;
  max-height: none;
  max-width: none;
  min-height: 0%;
}
#media .holder video {
  display: none;
  margin-top: 15px;
  border-radius: 2px;
  background-color: ghostwhite;
}
@media only screen and (max-width: 31.25em) {
  #media .holder video {
    width: 300px;
    height: 150px;
  }
}

#media.hide {
  transform: translateX(95%);
}

#loading_and_thumbs {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
}
#loading_and_thumbs #shallNotPass {
  display: none;
  width: 20%;
  height: 140px;
  position: absolute;
  left: 40%;
  text-align: center;
  top: 150px;
  border-radius: 2px;
  overflow: hidden;
  background-color: ghostwhite;
  transition: 0.3s background-color ease;
}
@media only screen and (max-width: 31.25em) {
  #loading_and_thumbs #shallNotPass {
    width: 50%;
    left: 25%;
  }
}
#loading_and_thumbs #shallNotPass p {
  margin: 20px 0;
}
#loading_and_thumbs #shallNotPass .progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid gainsboro;
  background-color: ghostwhite;
}
#loading_and_thumbs #shallNotPass .progress-button svg {
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
  pointer-events: none;
  stroke-width: 5;
}
#loading_and_thumbs #shallNotPass .progress-button .progress-circle path {
  animation-play-state: paused;
  animation: progress 3s ease-in-out infinite;
}
#loading_and_thumbs #shallNotPass .progress-button .cross, #loading_and_thumbs #shallNotPass .progress-button .checkmark {
  transition: transform 0.3s ease;
  stroke: salmon;
  transform: translateX(-50%) scale(0);
}
#loading_and_thumbs #shallNotPass .progress-button .checkmark {
  stroke: #39b878;
}
#loading_and_thumbs #shallNotPass.loading .progress-button .progress-circle path {
  animation-play-state: running;
}
#loading_and_thumbs #shallNotPass.success {
  background-color: #39b878;
}
#loading_and_thumbs #shallNotPass.success .progress-button {
  border: 5px solid transparent;
}
#loading_and_thumbs #shallNotPass.success .progress-button .progress-circle {
  display: none;
}
#loading_and_thumbs #shallNotPass.success .progress-button .checkmark {
  transform: translateX(-50%) scale(0.4);
}
#loading_and_thumbs #shallNotPass.error {
  background-color: salmon;
}
#loading_and_thumbs #shallNotPass.error .progress-button {
  border: 5px solid transparent;
}
#loading_and_thumbs #shallNotPass.error .progress-button .progress-circle {
  display: none;
}
#loading_and_thumbs #shallNotPass.error .progress-button .cross {
  transform: translateX(-50%) scale(0.4);
}
#loading_and_thumbs #thumbs {
  height: 100%;
  display: none;
}

#crop_container {
  display: table;
  height: 85%;
  width: 85%;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  margin: 5% 0 0 10%;
}
@media only screen and (max-width: 31.25em) {
  #crop_container {
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}
#crop_container h4 {
  width: 100%;
  height: 33px;
  text-align: center;
  padding: 10px 0;
  font-weight: 200;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  #crop_container h4 {
    height: auto;
  }
}
#crop_container .thumbnail_area {
  opacity: 1;
  transition: opacity 0.6s ease;
  display: table-cell;
  width: 40%;
  vertical-align: top;
}
@media only screen and (max-width: 31.25em) {
  #crop_container .thumbnail_area {
    width: 30%;
  }
}
#crop_container .thumbnail_area ul {
  width: calc(100% + 1px);
  height: 100%;
  margin-left: -1px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5px;
  background-color: #444444;
  align-content: flex-start;
}
#crop_container .thumbnail_area ul li {
  flex: 1 33%;
  position: relative;
  border: 3px solid transparent;
}
@media only screen and (max-width: 31.25em) {
  #crop_container .thumbnail_area ul li {
    flex: 1 100%;
  }
}
#crop_container .thumbnail_area ul li:before {
  content: '';
  display: table;
  padding-top: 100%;
}
#crop_container .thumbnail_area ul li a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}
#crop_container .thumbnail_area ul li a img {
  min-width: 100%;
  min-height: 100%;
}
#crop_container .dim {
  opacity: 0.6 !important;
  pointer-events: none;
}
#crop_container .main_crop_area {
  width: 60%;
  height: 100%;
  border-left: 1px solid silver;
  display: table-cell;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  #crop_container .main_crop_area {
    width: 70%;
  }
}
#crop_container .main_crop_area button {
  position: absolute;
  display: none;
  width: 50%;
  border-radius: 0;
  z-index: 500;
  background-color: white;
  text-transform: uppercase;
  color: cornflowerblue;
  top: 0;
  left: 0;
  font-size: 0.8em;
}
@media only screen and (max-width: 31.25em) {
  #crop_container .main_crop_area button:hover {
    background-color: black;
  }
}
#crop_container .main_crop_area button#submit_crop {
  left: 50%;
  border-left: 1px solid silver;
}

#crop_comparrison {
  width: 50%;
  position: fixed;
  top: 15%;
  left: 25%;
  border-radius: 2px;
  background-color: white;
  display: none;
}
@media only screen and (max-width: 31.25em) {
  #crop_comparrison {
    width: 100%;
    top: 10%;
    left: 0;
    border-radius: 0;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
}
#crop_comparrison div {
  width: 50%;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 31.25em) {
  #crop_comparrison div img {
    width: 100%;
  }
}
#crop_comparrison h4 {
  margin-bottom: 10px;
}
#crop_comparrison #confirm_thumb, #crop_comparrison #cancel_thumb {
  width: 50%;
  float: left;
  border-radius: 0;
  text-transform: uppercase;
  color: cornflowerblue;
  font-size: 0.8em;
  margin-top: 20px;
  border-top: 1px solid silver;
}
@media only screen and (min-width: 31.25em) {
  #crop_comparrison #confirm_thumb:hover, #crop_comparrison #cancel_thumb:hover {
    background-color: black;
  }
}
#crop_comparrison #cancel_thumb {
  border-right: 1px solid silver;
}

#close_crop {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #f26d7d;
  z-index: 50;
}

#videoThumbnailselect {
  display: none;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2px;
  margin-top: 30px;
  text-align: center;
}
@media only screen and (max-width: 31.25em) {
  #videoThumbnailselect {
    width: 100%;
  }
}
#videoThumbnailselect #selectVidThumb {
  display: block;
  width: 100%;
  background-color: ghostwhite;
  height: 45px;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
@media only screen and (min-width: 31.25em) {
  #videoThumbnailselect #selectVidThumb:hover {
    background-color: #39b878;
    color: ghostwhite;
  }
}
#videoThumbnailselect:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#videoThumbnailselect div {
  width: 20%;
  overflow: hidden;
  float: left;
  position: relative;
}
@media only screen and (max-width: 31.25em) {
  #videoThumbnailselect div {
    width: 33.33%;
  }
}
#videoThumbnailselect div:before {
  content: '';
  display: table;
  padding-top: 100%;
}
#videoThumbnailselect div a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#videoThumbnailselect div a:after {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.6s ease;
}
#videoThumbnailselect div a img {
  min-height: 100%;
  max-width: 120%;
}
#videoThumbnailselect div .activeTemp:after {
  background-color: rgba(60, 184, 120, 0.65);
  z-index: 10;
}

@keyframes progress {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 700;
  }
}
.activeTemp:after {
  background-color: #39b878 !important;
  opacity: 0.8 !important;
}

#temp_files {
  width: calc(100% - 180px);
  height: 100%;
  overflow: hidden;
  margin-left: 180px;
}
@media only screen and (max-width: 31.25em) {
  #temp_files {
    width: 100%;
    margin: 0;
    z-index: 10;
    position: fixed;
    top: 0;
  }
}
#temp_files svg {
  width: 25px;
  display: block;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 2px;
}
@media only screen and (max-width: 31.25em) {
  #temp_files svg {
    width: 25px;
    margin: 0 auto;
  }
}
#temp_files svg #iconBorder {
  stroke: none;
}
#temp_files svg path {
  stroke: gray;
  fill: none;
}
#temp_files #tempFilesContainer {
  display: flex;
  width: 100;
  height: 100%;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #tempFilesContainer {
    flex-direction: column;
  }
}
#temp_files #file_list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  transform: translate3D(0, 0, 0);
  align-content: flex-start;
}
#temp_files #file_list span {
  background-color: salmon;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  line-height: 1.4em;
  font-weight: 600;
  color: ghostwhite;
}
#temp_files #file_list div {
  flex: 1;
}
#temp_files #file_list div span {
  font-weight: 800;
  font-size: 3em;
  padding: 20% 0;
  text-align: center;
}
#temp_files #file_list li {
  position: relative;
  line-height: 0;
  flex: 1 33%;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #file_list li {
    flex: 1 25%;
  }
}
#temp_files #file_list li:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
#temp_files #file_list li a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}
#temp_files #file_list li a:after {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  background-color: transparent;
  transition: all 0.6s ease;
  transition-property: background, opacity;
}
#temp_files #file_list li a img {
  width: 100%;
  min-height: 125%;
}
#temp_files #file_list li:nth-child(5n + 2) > a > span {
  background-color: cornflowerblue;
}
#temp_files #file_list li:nth-child(5n + 3) > a > span {
  background-color: hotpink;
}
#temp_files #file_list li:nth-child(5n + 4) > a > span {
  background-color: darkslategray;
}
#temp_files #file_list li:nth-child(5n + 5) > a > span {
  background-color: sienna;
}
#temp_files #display_panel {
  flex: 3;
  background-color: ghostwhite;
  overflow-y: scroll;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #display_panel {
    flex: 5;
    border-top: 5px solid black;
  }
}
#temp_files #display_panel img {
  width: 100%;
}
#temp_files #display_panel #tempMessageCont {
  text-align: center;
}
#temp_files #display_panel #tempMessageCont div {
  height: 250px;
  margin-top: 100px;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #display_panel #tempMessageCont div {
    height: 150px;
    margin-top: 0;
  }
}
#temp_files #display_panel #tempMessageCont div svg {
  width: 100%;
  height: 100%;
}
#temp_files #display_panel #tempMessageCont div svg path {
  stroke: none;
  fill: gray;
}
#temp_files #display_panel #tempMessageCont p {
  font-weight: 600;
  font-size: 1.2em;
  color: #444;
  display: inline;
  padding-top: 15px;
  border-top: 1px solid silver;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #display_panel #tempMessageCont p {
    font-size: 1em;
  }
}
#temp_files #dir_list {
  display: flex;
  height: 45px;
  background-color: white;
}
#temp_files #dir_list li {
  width: 45px;
  height: 45px;
  position: relative;
  line-height: 0;
  border-right: 1px solid silver;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #dir_list li {
    width: 40px;
  }
}
#temp_files #dir_list li a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  font-size: 0.7em;
  font-weight: 600;
  color: #666;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #dir_list li a {
    margin-top: -7px;
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 31.25em) {
  #temp_files #dir_list li a:hover {
    color: white;
    background-color: #39b878;
  }
  #temp_files #dir_list li a:hover svg path {
    fill: white;
  }
}
#temp_files #dir_list .selectListContainer {
  flex: 1;
  height: 45px;
  position: relative;
  display: inline-block;
  text-align: right;
  padding: 12px 20px 0 0;
  border-right: 1px solid silver;
  overflow: hidden;
  min-width: 160px;
}
#temp_files #dir_list .selectListContainer .selectList {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
  color: cornflowerblue;
  cursor: pointer;
}
@media only screen and (min-width: 31.25em) {
  #temp_files #dir_list .selectListContainer .selectList:hover {
    color: #065c75;
  }
}
#temp_files #dir_list li:nth-last-child(1) button, #temp_files #dir_list li:nth-last-child(2) button, #temp_files #dir_list li:nth-last-child(3) button {
  width: 45px;
  height: 45px;
}
@media only screen and (max-width: 31.25em) {
  #temp_files #dir_list li:nth-last-child(1) button, #temp_files #dir_list li:nth-last-child(2) button, #temp_files #dir_list li:nth-last-child(3) button {
    width: 40px;
  }
}
#temp_files #dir_list li:nth-last-child(1) button svg, #temp_files #dir_list li:nth-last-child(2) button svg, #temp_files #dir_list li:nth-last-child(3) button svg {
  width: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
#temp_files #dir_list li:nth-last-child(1) button svg path, #temp_files #dir_list li:nth-last-child(2) button svg path, #temp_files #dir_list li:nth-last-child(3) button svg path {
  stroke: none;
  fill: gray;
}
@media only screen and (min-width: 31.25em) {
  #temp_files #dir_list li:nth-last-child(1) button:hover, #temp_files #dir_list li:nth-last-child(2) button:hover, #temp_files #dir_list li:nth-last-child(3) button:hover {
    border-radius: 0;
  }
  #temp_files #dir_list li:nth-last-child(1) button:hover svg path, #temp_files #dir_list li:nth-last-child(2) button:hover svg path, #temp_files #dir_list li:nth-last-child(3) button:hover svg path {
    fill: white;
  }
}
@media only screen and (min-width: 31.25em) {
  #temp_files #dir_list li:nth-last-child(1) button:hover {
    background-color: salmon;
  }
}

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  margin-top: 33px;
  direction: ltr;
  text-align: left;
  /* IE10 touch compatibility */
  -ms-touch-action: none;
}

/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: white url("Jcrop.gif");
  font-size: 0;
  position: absolute;
}

.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

.jcrop-vline.right {
  right: 0;
}

.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

.jcrop-hline.bottom {
  bottom: 0;
}

/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}

/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}

.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}

.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}

.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}

.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}

.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}

.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}

.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}

.jcrop-dragbar.ord-n {
  margin-top: -4px;
}

.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}

.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}

.jcrop-dragbar.ord-w {
  margin-left: -4px;
}

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}

/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}

/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}

.bariol #wallpapers span, .bariol #temp_files #dir_list .selectList, .bariol .selectList {
  font-weight: 400;
}

.deutch #wallpapers span, .deutch button[class^="delete_"], .deutch button[class^="edit_"] {
  font-weight: 400;
}
.deutch #mainHeader span, .deutch .selectList, .deutch #temp_files #dir_list .selectList, .deutch #temp_files #dir_list li a, .deutch #feed_content #edit_cont h3 a {
  font-weight: 500;
}

.dtlnobel {
  font-weight: 300;
}
.dtlnobel #mainHeader #tempFiles, .dtlnobel #temp_files #dir_list li a, .dtlnobel #temp_files #dir_list .selectList, .dtlnobel .selectList, .dtlnobel button[type="submit"]::after, .dtlnobel button[name^="cancel_"]::after {
  font-weight: 400;
}
.dtlnobel #section_feeds .feedArticle h3 {
  font-weight: 500;
}
.dtlnobel #feed_content #edit_cont h3, .dtlnobel #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a {
  font-weight: 300;
}
.dtlnobel button[class^="delete_"], .dtlnobel button[class^="edit_"] {
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1em;
}
