.bariol{
	#wallpapers span, #temp_files #dir_list .selectList, .selectList{
		font-weight: 400;
	}
}

.deutch{
	#wallpapers span, button[class^="delete_"], button[class^="edit_"]{
		font-weight: 400;
	}

	#mainHeader span, .selectList, #temp_files #dir_list .selectList, #temp_files #dir_list li a, #feed_content #edit_cont h3 a{
		font-weight: 500;
	}
}

.dtlnobel{
	font-weight: 300;

	#mainHeader #tempFiles, #temp_files #dir_list li a, #temp_files #dir_list .selectList, .selectList, button[type="submit"]::after, button[name^="cancel_"]::after{
		font-weight: 400;
	}

	#section_feeds .feedArticle h3{
		font-weight: 500;
	}

	#feed_content #edit_cont h3, #section_bookmarks #bookmark_menu div[class^="bookMenu_"] div[id^="section_book_"] a{
		font-weight: 300;
	}

	button[class^="delete_"], button[class^="edit_"]{font-weight: 400; font-size: 0.7em; line-height: 1em;}
}