div[id*="model_"]{
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0.4%;

	div[class^="model"]{
		flex: 0 20%;

		@media #{$information-phone} {
	  		flex : 1 50%;
		}

		position: relative;
		text-align: center;

		&:before{
		content: '';
		display: table;
		padding-top: 100%;
		}

		a{
			display:block;
			top: 3%;
			left: 3%;
			right: 3%;
			bottom: 3%;
			position: absolute;
			overflow:hidden;
			border-radius: 1px;

			&:after{
				content: '';
				display:block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				opacity: 0;
				background-color: transparent;
				transition: all 0.6s ease;
				transition-property: background, opacity;
			}

			img{
				width: 100%;
				height: 125%;
			}
		}
	}
}

#model_videos.displayFlex{
	display:flex;
}

#model_videos{
	display:none;

	.modelVideos{
		flex: 0 33%;
		@media #{$information-phone}{
			flex: 0 50%;
		}
		img{max-width: 120%; min-height: 100%;}

		&:before{
			padding-top: 70%;
		}

		.video_thumbs{
			background-color: $book_learning;
			@media #{$information-phone}{
				&:hover{
					background-color: $titleText;
				}
			}
			
		}
	}

	h4{
		display:block;
		width: 30%;
		margin: 0 auto;
		padding: 50px 0 80px 0;
		text-align: center;
		margin-top: 20%;
		font-weight: 200;
		background-color: $book_learning;
		border-radius: 2px;
		position: relative;

		@media #{$information-phone} {
			width: 60%;
		}

		&:after{
			content: url('../images/buttons/other.svg');
			position: absolute;
			width: 100%;
			margin: 0 auto;
			margin-top: 10px;
			display:block;
		}
	}
}

#media{
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 100;
	background-color: $linkColour;
	position: fixed;
	display:none;
	top: 0;
	left: 0;
	transition: transform 0.6s ease;


	#mediaControlBar{

		#mute{
			&:hover{
				path{fill: none}
			}
		}

		#mute.muted{
			path{stroke: none;}
		}

		.slideShowOn{
			circle{fill: $greenColour;}
			path{fill: $chromeColour;}
		}

		.playActive{
			circle{fill: $greenColour;}
		}

		.mediaClose{
			@media #{$information-phone} {
		  		display:inline-block;
			}
		}

		input[type="range"]{
			border: none;
			height: 5px;
			border-bottom: 1px solid $buttonColour;
			vertical-align: 96%;
			width: 50%;
			padding: 0;
			margin-bottom: 0;
			background-color: transparent;
			transition: none;
			-webkit-appearance: none !important;

			@media #{$information-phone} {
			  	display:none;
			}

			&::-webkit-slider-thumb{
				-webkit-appearance: none !important;
			    background-color: $chromeColour;
			    transform: rotate(45deg);
			    border: 1px solid $buttonColour;
			    height:8px;
			    width:8px;
			    margin-top: 4px;
			    cursor: pointer;
			    transition: background-color 0.6s ease;

			    &:hover{
			    	background: white;
			    }
			}
		}

		#volume-bar{width: 10%; margin-right: 4%;}

		div{
			display:inline-block; 
			height: ($menuHeight - 5px);
			border-left: 1px solid $borderColour;
			vertical-align:top;
			padding-left: 1%;
			min-width: 260px;

			@media #{$information-phone} {
		  		min-width: 0;
		  		padding-left: 0;
			}

		}

		#videoControls{
			display:none; min-width: 550px;
			@media #{$information-phone} {
				//iphone has it's own play controls
		  		display:none !important;
			}
		}

		.shiftWindow{
			margin-left: 5px;
			transform: rotate(180deg);
			transition: transform 0.6s ease;
			float: left;
			@media #{$information-phone} {
		  		display:none;
			}
		}

		.shiftWindow.flip{
			transform: rotate(0deg);
		}
	}

	.holder{
		height: calc(100% - 45px);
		width: 100%;
		display:block;
		text-align: center;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		transform: translate3D(0,0,0);

		img{min-height: 100%; max-height: 100%; display:none;} //fit window - default
		img.fullWidth{height: auto; width: 100%; max-height: none; max-width: none; min-height: 0%;}
		img.original{height: auto; width: auto; max-height: none; max-width: none; min-height: 0%;}
		video{
			display:none;
			margin-top:15px; 
			border-radius: 2px; 
			background-color: $book_learning;
			@media #{$information-phone} {
			  	width: 300px;
			  	height: 150px;
			}
		}
	}
}

#media.hide{
	transform: translateX(95%);
}